body{
    background:rgb(224, 224, 224);
    margin: 50px 50px;
}
#maindiv{
    width: auto;
    height:auto;
    display:flex;
    border-top: 2px solid black;
}
#formbox{
    float:left;
    height:auto;
    width:45%;
}
input[type=number]{
    width:33%;
    height:15px;
    border-radius:3px solid black;
    padding:2px;
    float:right;
}
form{
    display:grid;
}
label{
    float:left;
}
input[type=submit]{
    width:100%;
    height:50px;
    border:none;
    background-color: #7e5bc0;
    border-radius:2px solid black;
    margin:5px;
    padding:2px;   
}
input[type=submit]:hover{
    border:2px soild black;
    border-radius:2px soild black;
}
#block1,#block2,#block3,#block4{
    margin-top:20px;
    display:grid;
}
#block1B,#block2B,#block3B{
    margin-bottom:10px;
    gap: 8px;
    display:flex;
}
#block4B{
    padding-bottom:10px;
    gap: 8px;
    border-bottom:2px solid black;
    display:flex;
}
#imagebox{
    float: right;
    height:520px;
    width:55%;
    color:rgb(255,255,255)
    border:1px solid rgb(209, 33, 41);
    background-color:rgb(29, 29, 29);
    margin-top: 5px;
    margin-left: 10px;
    overflow:hidden;
}
#imagebox img{
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
}
#descriptionBox{
    margin-top:20px;
    align-self: center;
    width:auto;
    height:300px;
    background-color:rgb(212, 212, 212);
    color:rgb(0, 0, 0);
    padding:10px;
    text-align: center;
}
pre{
    font-weight: bold;
    font-size: 20px; 
    white-space: pre-wrap;
}